.back{
  color: aliceblue;
}

.bg{
  background-color: #192224;
  
}

.bg-head{
  background-color: #42959e;
  width: 30%;
}

.text-2 {
  
  font-size: 64px;
  
  color: aliceblue;
  background: #c02f2f;
  width: 20%;
  margin-left: 10%;
}

.text-8 {
  background-color: #192224;
  font-size: 64px;
  margin-left: 20px;
  
  color: aliceblue;
}

.text-9 {
  background-color: #192224;
  font-size: 40px;
  margin-left: 50px;
  color: aliceblue;
}


.image {
  display: block;
  width: 10%;
  height: auto;}